 <div class="card fixed-left" >
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">Menu</h6>
      <button class="btn bg-transperant" routerLink="/admin"><i class="fa-solid fa-house"></i> Home</button>
      <button class="btn bg-transperant" routerLink="/admin/profile"><i class="fa-solid fa-circle-user"></i>  Profile</button>
      <button class="btn bg-transperant" routerLink="/admin/categories"><i class="fa fa-list-alt" aria-hidden="true"></i> Categories</button>
      <button class="btn bg-transperant"  routerLink="/admin/addcategory"><i class="fa-solid fa-circle-plus"></i> Add Categories</button>
      <button class="btn bg-transperant" routerLink="/admin/quizes"><i class="fa-regular fa-circle-question"></i> Quizes</button>
      <button class="btn bg-transperant" routerLink="/admin/addquiz"><i class="fa-solid fa-plus"></i> Add Quizes</button>
      <button class="btn bg-transperant" routerLink="/admin/profile" (click)="logout()">
 
 
        <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</button>
  </div>
