<div class="card">
    <div class="card-body">
        <h2 class="text-center mb-4">Instructions</h2>
        <ul>
            <li style="color: red;">
               <strong>If Youn Try To Exit From FullScreen Or Go to Another Tab Before Finishing The Exam Then You Will Disqualified From This Exam</strong>
            <li>
                You must use a functioning webcam and microphone
                No cell phones or other secondary devices in the room or test area</li>
            <li>Your desk/table must be clear or any materials except your test-taking device</li>
            <li>No one else can be in the room with you No talking </li>
            <li>The testing room must be well-lit and you must be clearly visible</li>
            <li>Do not leave the camera</li>
            <li>No use of additional applications or internet
            </li>
        </ul>
        <div class="container text-center">
            <button type="button" (click)="fullScreen()" class="btn btn-outline-primary">Start</button>
        </div>
    </div>
</div>
